<div class="section">
	<div class="container">
		<h1 class="title is-2">Editing Holiday</h1>
		<%= render 'form', holiday: @holiday %>
	<%= link_to '<--Back', holidays_path, class:'button btn btn-link' %>
	</div>
</div>