<%= form_for(@room) do |f| %>
  <%#= f.error_notification %>
  <div class="row">
  <div class="col-sm-4">
   <div class="field form-group">
   	<div class="control">
         <%= f.label  :room_no %>
   		<%= f.text_field :room_no, class: "input form-control" %>
   	</div>
   </div>
   <div class="field form-group">
   	<div class="control">
   		<%= f.submit :submit, class: "button is-link btn btn-info" %>
   	</div>
   </div>
   </div>
   </div>

<% end %>
