<div class="section">
	<div class="container">
		<h1 class="title is-2">Editing Room</h1>
		<%= render 'form_booking', booking: @booking %>
	<%= link_to '<--Back', root_path, class:'button btn btn-link' %>
	</div>
</div>