<div class="section">
	<div class="container">
		<h1 class="title is-2">Editing Room</h1>
		<%= render 'form', room: @room %>
	<%= link_to '<--Back', rooms_path, class:'button btn btn-link' %>
	</div>
</div>