<div class="section">
	<div class="container">
		<h1 class="title is-2">New facility</h1>
	
		<%= render 'form', fascility: @fascility %>
	<br />
	<%= link_to '<--Back', room_fascilities_path(@room), class:'button btn btn-link' %>
	</div>
</div>