!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Welcome to #{@app_name}, #{@user.full_name}
    %p
      Congratulations.
      %br/
      You have successfully booked Room.
      %br/
    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks for Booking and have a great day!
